@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

:root {
  --surface: #f8f9ff;
  --surface-dim: #cbdbf5;
  --surface-bright: #f8f9ff;
  --surface-container-lowest: #ffffff;
  --surface-container-low: #eff4ff;
  --surface-container: #e5eeff;
  --surface-container-high: #dce9ff;
  --surface-container-highest: #d3e4fe;
  --on-surface: #0b1c30;
  --on-surface-variant: #45464d;
  --inverse-surface: #213145;
  --inverse-on-surface: #eaf1ff;
  --outline: #76777d;
  --outline-variant: #c6c6cd;
  --surface-tint: #565e74;
  --primary: #000000;
  --on-primary: #ffffff;
  --primary-container: #131b2e;
  --on-primary-container: #7c839b;
  --inverse-primary: #bec6e0;
  --secondary: #855300;
  --on-secondary: #ffffff;
  --secondary-container: #fea619;
  --on-secondary-container: #684000;
  --tertiary: #000000;
  --on-tertiary: #ffffff;
  --tertiary-container: #002113;
  --on-tertiary-container: #009668;
  --error: #ba1a1a;
  --on-error: #ffffff;
  --error-container: #ffdad6;
  --on-error-container: #93000a;
  --primary-fixed: #dae2fd;
  --primary-fixed-dim: #bec6e0;
  --on-primary-fixed: #131b2e;
  --on-primary-fixed-variant: #3f465c;
  --secondary-fixed: #ffddb8;
  --secondary-fixed-dim: #ffb95f;
  --on-secondary-fixed: #2a1700;
  --on-secondary-fixed-variant: #653e00;
  --tertiary-fixed: #6ffbbe;
  --tertiary-fixed-dim: #4edea3;
  --on-tertiary-fixed: #002113;
  --on-tertiary-fixed-variant: #005236;
  --background: #f8f9ff;
  --on-background: #0b1c30;
  --surface-variant: #d3e4fe;
}

@theme {
  --color-surface: var(--surface);
  --color-surface-dim: var(--surface-dim);
  --color-surface-bright: var(--surface-bright);
  --color-surface-container-lowest: var(--surface-container-lowest);
  --color-surface-container-low: var(--surface-container-low);
  --color-surface-container: var(--surface-container);
  --color-surface-container-high: var(--surface-container-high);
  --color-surface-container-highest: var(--surface-container-highest);
  --color-on-surface: var(--on-surface);
  --color-on-surface-variant: var(--on-surface-variant);
  --color-inverse-surface: var(--inverse-surface);
  --color-inverse-on-surface: var(--inverse-on-surface);
  --color-outline: var(--outline);
  --color-outline-variant: var(--outline-variant);
  --color-surface-tint: var(--surface-tint);
  --color-primary: var(--primary);
  --color-on-primary: var(--on-primary);
  --color-primary-container: var(--primary-container);
  --color-on-primary-container: var(--on-primary-container);
  --color-inverse-primary: var(--inverse-primary);
  --color-secondary: var(--secondary);
  --color-on-secondary: var(--on-secondary);
  --color-secondary-container: var(--secondary-container);
  --color-on-secondary-container: var(--on-secondary-container);
  --color-tertiary: var(--tertiary);
  --color-on-tertiary: var(--on-tertiary);
  --color-tertiary-container: var(--tertiary-container);
  --color-on-tertiary-container: var(--on-tertiary-container);
  --color-error: var(--error);
  --color-on-error: var(--on-error);
  --color-error-container: var(--error-container);
  --color-on-error-container: var(--on-error-container);
  --color-primary-fixed: var(--primary-fixed);
  --color-primary-fixed-dim: var(--primary-fixed-dim);
  --color-on-primary-fixed: var(--on-primary-fixed);
  --color-on-primary-fixed-variant: var(--on-primary-fixed-variant);
  --color-secondary-fixed: var(--secondary-fixed);
  --color-secondary-fixed-dim: var(--secondary-fixed-dim);
  --color-on-secondary-fixed: var(--on-secondary-fixed);
  --color-on-secondary-fixed-variant: var(--on-secondary-fixed-variant);
  --color-tertiary-fixed: var(--tertiary-fixed);
  --color-tertiary-fixed-dim: var(--tertiary-fixed-dim);
  --color-on-tertiary-fixed: var(--on-tertiary-fixed);
  --color-on-tertiary-fixed-variant: var(--on-tertiary-fixed-variant);
  --color-background: var(--background);
  --color-on-background: var(--on-background);
  --color-surface-variant: var(--surface-variant);
  --font-geist: 'Geist', sans-serif;
}

body {
  font-family: 'Geist', sans-serif;
  background-color: #F8FAFC;
  color: #0b1c30;
}
